[tool.poetry]
name = "procastro"
version = "0.0.0"
description = "Framework to process astronomical data files"
authors = ["Patricio Rojo <pato@das.uchile.cl>"]
license = "BSD-3-Clause"
readme = "README.md"
documentation = "https://procastro.readthedocs.io/en/latest/"
repository = "https://github.com/duckrojo/procastro"

[tool.poetry-dynamic-versioning]
enable = true

[tool.poetry-dynamic-versioning.substitution]


[tool.poetry.dependencies]
python = "^3.9"
asdf-astropy = "^0.4.0"
Sphinx = { version = "4.2.0", optional = true }
sphinx-rtd-theme = { version = "1.0.0", optional = true }
sphinxcontrib-napoleon = { version = "0.7", optional = true }
astropy="^5.1"
astroquery="^0.4.6"
ExifRead="^3.0.0"
matplotlib="^3.5.3"
numpy="^1.23.2"
pandas="^1.5.3"
pytest="^7.3.1"
pyvo="^1.3"
rawpy="^0.17.2"
scipy="^1.9.1"
tomli="^2.0.1"


[tool.poetry.extras]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-napoleon", "numpydoc"]

[tool.poetry.group.dev.dependencies]



[build-system]
requires = ["poetry-core", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
