[DEFAULT]
stamp_percent = 5
stamp_pix = 0
mark_color = red
mark_alpha = 0.5
marker = x

[radial_profile]
color = black
alpha = 1

[projection]
length_percent = 20
length_pix = 0
width = 1
color = black
alpha = 1
combine_op = sum

[mark]
# size of circle' radius in percent
radius = 2
# number of decimals for rounding of mark coordinates
rounding_centroid = 1
rounding_user = 0

color = black, red
mark_alpha = 0.3

